# Basic Concepts

## Python Identifiers
A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter **A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9)**.
<br>
Python **does not allow punctuation characters such as @, $, and % within identifiers**. Python is a **case sensitive** programming language. Thus, Manpower and manpower are two different identifiers in Python.
<br>
Here are naming conventions for Python identifiers −

- Class names start with an uppercase letter. All other identifiers start with a lowercase letter.

- Starting an identifier with a single leading underscore indicates that the identifier is private.

- Starting an identifier with two leading underscores indicates a strongly private identifier.

- If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.

## Reserved Words
Python keywords are reserved words and you cannot use them as constant or variable or any other identifier names.

In [ ]:
import keyword
keyword.kwlist

## PEP 8 -- Style Guide for Python Code
Specifation for python coding conventions. Please visit https://www.python.org/dev/peps/pep-0008/#introduction for latest updates.
<br>
Let's take a brief look over these conventions:

## Lines and Indentation
Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

In [ ]:
if True:
 print("True")
else:
   print("False")

In [ ]:
if True:
    print("True")
        print('THIS AS WELL')
else:
   print("False")

In [ ]:
def say_hello(name):
    print('Hello %s'%name)
    
say_hello('Foo')

In [ ]:
for x in range(10):
    print('Square value of %s is: %s'%(x,x*x))

## Multi-Line Statements
Statements in Python typically end with a new line. Python does, however, allow the use of the **line continuation character (\\)** to denote that the line should continue. For example −

In [ ]:
multiline_statement = 'This is a' + \
        ' multiline ' + \
        'statement'
print(multiline_statement)

Statements contained within the [], {}, or () brackets do not need to use the line continuation character. For example −

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']
print(days)

## Quotation in Python
Python accepts **single ('), double (") and triple (''' or """) quotes** to denote string literals, as long as the same type of quote starts and ends the string.

The triple quotes are used to span the string across multiple lines. For example, all the following are legal −

In [ ]:
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""
print(word)
print(sentence)
print(paragraph)

## Comments in Python
A hash sign (#) that is not inside a string literal begins a comment. All characters after the # and up to the end of the physical line are part of the comment and the Python interpreter ignores them.

In [ ]:
# First comment
print("Hello, Python!") # second comment

## Using Blank Lines and White spaces
- A line containing only whitespace, possibly with a comment, is known as a blank line and Python totally ignores it.
- **Surround top-level function and class definitions with two blank lines.**

i = i + 1
submitted += 1
x = x*2 - 1
hypot2 = x*x + y*y
c = (a+b) * (a-b)

i=i+1
submitted +=1
x = x * 2 - 1
hypot2 = x * x + y * y
c = (a + b) * (a - b)

In [ ]:
def complex(real, imag=0.0):
    return magic(r=real, i=imag)

In [ ]:
def complex(real, imag = 0.0):
    return magic(r = real, i = imag)

## Multiple Statements on a Single Line
The semicolon ( ; ) allows multiple statements on the single line given that neither statement starts a new code block. Here is a sample snip using the semicolon −

In [ ]:
print('Hello'); print('Python!'); print('123')

## Types of Operator
Python language supports the following types of operators.
#### Python Arithmetic Operators

In [ ]:
10 + 2

In [ ]:
10 - 4

In [ ]:
10 * 2

In [ ]:
10 / 3

In [ ]:
10 % 3  # mod

In [ ]:
10 // 3  # floor

#### Python Comparison Operators

In [ ]:
10 == 20

In [ ]:
10 != 20

In [ ]:
10 > 20

In [ ]:
10 < 20

In [ ]:
10 <= 20

In [ ]:
10 >= 20

#### Python Assignment Operators

In [ ]:
a = 10

In [ ]:
print(a)

In [ ]:
a += 10
print(a)

In [ ]:
a -= 10
print(a)

In [ ]:
a *= 10
print(a)

In [ ]:
a /= 10
print(a)

In [ ]:
a %= 3
print(a)

In [ ]:
a = 10
a **= 2
print(a)

In [ ]:
a //= 3
print(a)

#### Python Bitwise Operators
Bitwise operator works on bits and performs bit by bit operation. Assume if a = 60; and b = 13; Now in binary format they will be as follows −
<br>
a = 0011 1100
<br>
b = 0000 1101
<br>
a&b = 0000 1100
<br>
a|b = 0011 1101

In [ ]:
a = 60; b = 13

In [ ]:
a & b

In [ ]:
a | b

#### Python Logical Operators

In [ ]:
True and True

In [ ]:
True or False

In [ ]:
not True

#### Python Membership Operators

In [ ]:
'a' in 'rajesh'

In [ ]:
'b' not in 'rajesh'

In [ ]:
3 in [1,2,3]

In [ ]:
'rajesh'[2]

In [ ]:
1 in 123

#### Python Identity Operators
Identity operators compare the memory locations of two objects. There are two Identity operators explained below −
- is
- is not

In [ ]:
list1 = [1,2,3]
list2 = [1,2,3]

In [ ]:
list1 == list2

In [ ]:
list1 is list2

In [ ]:
list1 is not list2

In [ ]:
hex(id(list1))

In [ ]:
hex(id(list2))

In [ ]:
age1 = 23

In [ ]:
age2 = 23

In [ ]:
age1 is age2

In [ ]:
hex(id(age1))

In [ ]:
hex(id(age2))

**This is a Gotcha due to python memory management!!!**
<br>
How about this?

In [ ]:
a = b = []

In [ ]:
a is b

In [ ]:
a.append(1)

In [ ]:
b

In [ ]:
a, b = [], []

In [ ]:
a is b

In [ ]:
a, b = 'Foo', 'Foo'

In [ ]:
a is b

In [ ]:
a, b = (1,2), (1,2)

In [ ]:
a is b

In [ ]:
a = (1, [1])

## Python - Decision Making
Python programming language assumes any non-zero and non-null values as TRUE, and if it is either zero or null, then it is assumed as FALSE value.

In [ ]:
a = 10; b =20

In [ ]:
if a < b:
    print('a is smaller')
elif b < a:
    print('b is smaller')
else:
    print('a nd b are equal')

In [ ]:
if 2:
    print(' 2 is equal True')

In [ ]:
2 == True

In [ ]:
bool(2) == True

## Python - Loops
Python programming language provides following types of loops to handle looping requirements.
#### while loop
- Repeats a statement or group of statements while a given condition is TRUE.
- It tests the condition before executing the loop body.

In [ ]:
count = 0
while (count < 9):
   print('The count is: ', count)
   count = count + 1

print("Good bye!")

In [ ]:
count = 0
while count < 5:
   print(count, " is  less than 5")
   count = count + 1
else:
   print(count, " is not less than 5")

#### for loop
- Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

In [ ]:
for letter in 'Python':     # First Example
   print('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit)

print("Good bye!")

#### nested loops
You can use one or more loop inside any another while, for or do..while loop.

In [ ]:
i = 2
while(i < 100):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : print(i, " is prime")
   i = i + 1

print("Good bye!")

### Loop Control Statements
#### break statement
Terminates the loop statement and transfers execution to the statement immediately following the loop.

In [ ]:
for letter in 'Python':     # First Example
   if letter == 'h':
      break
   print('Current Letter :', letter)

#### continue statement
Causes the loop to skip the remainder of its body and immediately retest its condition prior to reiterating.

In [ ]:
for letter in 'Python':     # First Example
   if letter == 'h':
      continue
   print('Current Letter :', letter)

#### pass statement
The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.
- The pass statement is a null operation; nothing happens when it executes.

In [ ]:
for letter in 'Python': 
   if letter == 'h':
      pass
      #print('This is pass block')
   print('Current Letter :', letter)

print("Good bye!")

## Data Types
Python standard data types −
- Boolean
- Numbers
- String
- List
- Tuple
- Set
- Dictionary

#### Boolean
- This type has built-in values True and False.
- Useful in conditional expressions, and anywhere else you want to represent the truth or falsity of some condition.
- Mostly interchangeable with the integers 1 and 0.

In [ ]:
True == 1

In [ ]:
True == 0

In [ ]:
True == 2

In [ ]:
True == None

In [ ]:
False == 0

In [ ]:
False == 1

In [ ]:
False == 2

In [ ]:
False == None

#### Python Numbers
Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is of type", type(a))

#### Python Strings
- Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
- Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

- The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator. For example −

In [ ]:
str1 = 'Hello World!'

In [ ]:
print(type(str1))

In [ ]:
print(str1)

In [ ]:
print(str1[0])

In [ ]:
print(str1[6:11])

In [ ]:
print(str1[3:])

In [ ]:
print(str1[:3])

In [ ]:
str1 * 2

In [ ]:
str1 + ' Testing'

In [ ]:
str1[5] = 'x'

**built-in methods to manipulate strings**

In [ ]:
str1.upper()

In [ ]:
str1.capitalize()

In [ ]:
str1.find('World')

In [ ]:
str1.replace('World', 'WORLD')

In [ ]:
str1

#### Python Lists
- Lists are the most versatile of **Python's compound data types** ( all items need not be the same).
- List is an ordered sequence of items.
- A list contains items separated by commas and enclosed within square brackets ([]).
- The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. 
- The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator.

In [ ]:
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

In [ ]:
print(type(list1))

In [ ]:
print(list1)

In [ ]:
print(list1[0])

In [ ]:
print(list1[2:4])

In [ ]:
print(list1[2:])

In [ ]:
print(list1[:3])

In [ ]:
print(tinylist*2)

In [ ]:
print(list1 + tinylist)

In [ ]:
tinylist[1] = 'Player'

In [ ]:
tinylist

**bilt-in methods to manipulate lists**

In [ ]:
print(list1)

In [ ]:
list1.append(4)

In [ ]:
print(list1)

In [ ]:
list1.extend(range(5,10))

In [ ]:
print(list1)

In [ ]:
list1.extend([10,11])

In [ ]:
print(list1)

In [ ]:
list1.insert(0, 100)

In [ ]:
print(list1)

In [ ]:
list1.remove(100)

In [ ]:
print(list1)

In [ ]:
list1.pop()

In [ ]:
print(list1)

In [ ]:
list1.pop(3), list1.pop(0)

In [ ]:
print(list1)

In [ ]:
list1.count(1)

In [ ]:
list1.sort(reverse=True)
print(list1)

In [ ]:
list1.reverse()
print(list1)

- **List Comprehensions**

In [ ]:
squares = [x**2 for x in list1]
print(squares)

#### Python Tuples
- A tuple is another sequence data type that is similar to the list.
- A tuple consists of a number of values separated by commas.
- Tuple is an ordered sequence of items same as list.
- The only difference is that tuples are immutable. Tuples once created cannot be modified.
- It is defined within parentheses () where items are separated by commas.

In [ ]:
tuple1 = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

In [ ]:
print(type(tuple1))

In [ ]:
tuple1

In [ ]:
tuple[2:]

In [ ]:
tuple1 + tinytuple

In [ ]:
tinytuple * 2

In [ ]:
tuple1[2] = 'abcd'

In [ ]:
tuple2 = 1, 2 # Another method of tuple initialization

In [ ]:
tuple2

#### Python Set
- Set is an unordered collection of unique items. 
- Curly braces or the set() function can be used to create sets.
- Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary
- Basic uses include membership testing and eliminating duplicate entries.
- Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
- Since, set are unordered collection, indexing has no meaning. Hence the slicing operator [] does not work.

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [ ]:
print(type(basket))

In [ ]:
print(basket)

In [ ]:
'orange' in basket

In [ ]:
'crabgrass' in basket

In [ ]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)

In [ ]:
 a - b

In [ ]:
 a | b

In [ ]:
a & b

#### Python Dictionary
- Dictionary can be think of as an unordered set of key: value pairs, with the requirement that the keys are unique.
- In Python, dictionaries are defined within braces {} with each item being a pair in the form *key:value*.
- Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys.
- **Keys can be any immutable type; strings and numbers can always be keys**.

In [ ]:
tele_dict = {'sape': 4139, 'guido': 4127, 'jack': 4098}

In [ ]:
type(tele_dict)

In [ ]:
tele_dict['ivr'] = '2198'

In [ ]:
tele_dict

In [ ]:
tele_dict['ivr']

In [ ]:
tele_dict

In [ ]:
tele_dict.pop('ivr')

In [ ]:
tele_dict

In [ ]:
del tele_dict['sape']

In [ ]:
tele_dict

In [ ]:
tele_dict.update({'sape':4139})

In [ ]:
tele_dict

In [ ]:
'abc' in tele_dict

In [ ]:
'guido' in tele_dict

In [ ]:
tele_dict.keys()

In [ ]:
tele_dict.values()

In [ ]:
# The dict() constructor builds dictionaries directly from sequences of key-value pairs:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

In [ ]:
dict(sape=4139, guido=4127, jack=4098)

In [ ]:
for key in dict(sape=4139, guido=4127, jack=4098).keys():
    print(key)

In [ ]:
for val in dict(sape=4139, guido=4127, jack=4098).values():
    print(val)

In [ ]:
for k,v in dict(sape=4139, guido=4127, jack=4098).items():
    print(k,v)

#### Python - Date & Time
- There is a popular time module available in Python which provides functions for working with times
- The function time.time() returns the current system time in ticks since 12:00am, January 1, 1970(epoch)

In [ ]:
import time

ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)

In [ ]:
time.localtime(time.time())

In [ ]:
time.asctime( time.localtime(time.time()) )

In [ ]:
import calendar

cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

- The **datetime** module supplies classes for manipulating dates and times in both simple and complex ways.

In [ ]:
from datetime import datetime, timedelta
datetime.now()

In [ ]:
datetime.now().date()

In [ ]:
datetime.now().year

In [ ]:
datetime.now() - timedelta(days=1)

In [ ]:
datetime.now() - timedelta(months=1)

In [ ]:
from dateutil.relativedelta import relativedelta
datetime.now() - relativedelta(years=1, months=1, weeks=1)

## Problems
1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 1000 and 3000 (both included).
2. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary sorted by keys.
3. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
4. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
5. Write a program, which will find all such numbers between 10000 and 30000 (both included) such that each digit of the number is an even number.
6. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
7. A website requires the users to input username and password to register. Write a program to check the validity of password input by users.<br><br>
Following are the criteria for checking the password:
  - At least 1 letter between [a-z]
  - At least 1 number between [0-9]
  - At least 1 letter between [A-Z]
  - At least 1 character from [$#@]
  - Minimum length of transaction password: 6
  - Maximum length of transaction password: 12
<br><br>
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
8. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
  - Sort based on name;
  - Then sort based on age;
  - Then sort by score.
<br>
The priority is that name > age > score.